<div id="form">
  <h1 id="title">{{ action }} contract</h1>
  <form style="padding-left: 250" #form="ngForm" (ngSubmit)="addAndAffectContract(form)">
    <div class="form-group col-md-6">
      <label>Start Date</label>
      <input
        [(ngModel)]="contrat.dateDebutContrat"
        type="date"
        name="dateDebutContrat"
        class="form-control"
        required
        #t="ngModel"
        min="{{ mindate }}"
        max="2024-01-01"
      />
      <div class="alert alert-danger" *ngIf="t.invalid && t.touched">
        <div *ngIf="t.hasError('required')">This field is required</div>
        <div *ngIf="t.hasError('min')">This date is invalid</div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>End Date</label>
      <input
        [(ngModel)]="contrat.dateFinContrat"
        type="date"
        name="dateFinContrat"
        class="form-control"
        required
        #p="ngModel"
      />
      <div class="alert alert-danger" *ngIf="p.invalid && p.touched">
        <div *ngIf="p.hasError('required')">This field is required</div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Speciality</label>
      <select
        [(ngModel)]="contrat.specialite"
        name="specialite"
        class="form-control"
        required
        #s="ngModel"
      >
        <option value="IA">IA</option>
        <option value="RESEAU">RESEAU</option>
        <option value="CLOUD">CLOUD</option>
        <option value="SECURITE">SECURITE</option>
      </select>
      <div class="alert alert-danger" *ngIf="s.invalid && s.touched">
        <div *ngIf="s.hasError('required')">This field is required</div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Amount</label>
      <input
        [ngClass]="{ changeBackground: contrat.montantContrat > 300 }"
        [(ngModel)]="contrat.montantContrat"
        type="number"
        name="montantContrat"
        required
        class="form-control"
        required
        #m="ngModel"
        min="250"
        max="5000"
      />
      <div class="alert alert-danger" *ngIf="m.invalid && m.touched">
        <div *ngIf="m.hasError('required')">This field is required</div>
        <div *ngIf="m.hasError('min')">Min Amount = 250</div>
        <div *ngIf="m.hasError('max')">Max Amount = 5000</div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Description</label>
      <input
        [(ngModel)]="contrat.descriptionContrat"
        type="text"
        name="descriptionContrat"
        required
        class="form-control"
        required
        #z="ngModel"
      />
      <div class="alert alert-danger" *ngIf="z.invalid && z.touched">
        <div *ngIf="z.hasError('required')">This field is required</div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Student</label>
    <select
      [(ngModel)]="contrat.etudiant"
      name="etudiant"
      class="form-control"
      required
      
      (change)=" ChangeIdContract($event)"
    >
      <option *ngFor="let student of etudiantList;" [value]="student.idEtudiant">{{ student.idEtudiant }}</option>
    </select>
</div>

    <br />
    <div id="buttons">
      <button class="btn btn-success" [disabled]="form.invalid">
        save
      </button>
      &nbsp;
      <button [disabled]="isUnchanged" type="reset" class="btn btn-warning">
        reset
      </button>
    </div>
  </form>
</div>
