<div id="list">
<div>
  <h1>List Of Contracts</h1>

  <form>
    <div id="formsearch" class="form-group">
      <input
        id="search"
        placeholder="search"
        [(ngModel)]="searchText"
        type="text"
        name="search"
        class="form-control"
        (click)="transferData()"
      />
     
      <div id="styled-sort">
        <select class="form-control" id="sort-by" (change)="sort($event)">
          <option value="" selected disabled hidden>Sort By</option>
          <option value="Low">Show Low to High Amount</option>
          <option value="High">Show High to Low Amount</option>
        </select>
        
      </div>
    
    </div>
  </form>
 

  <table class="table" id="content" #content>
    <thead>
      <tr>
        <th>  <div id="styled-select">
          <select (change)="onTableSizeChange($event)">
            <option *ngFor="let size of tableSizes">
              {{ size }}
            </option>
          </select>
        </div></th> 
        <th>Start Date</th>
        <th>End Date</th>
        <th>Speciality</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Students</th>
        <th *ngIf="userService.roleMatch(['Admin'])">action</th>
       
        <th>
          <button id="stats"
          (click)="GoToStats()"
        >
          <img src="../../../assets/img/stats.png" alt="" height="40px" width="40px">
        </button>
        </th>
      </tr>
    </thead>
    <tbody>
     
      <tr
        *ngFor="
          let contrat of contratList
            | filter : searchText
            | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
      >
      <td></td>
        <td>{{ contrat.dateDebutContrat }}</td>
        <td>
          {{ contrat.dateFinContrat }}
          <p *ngIf="ContractDateIsNear(contrat.idContrat)">SOON</p>
        </td>
        <td>{{ contrat.specialite }}</td>
        <td
          [ngStyle]="{
            color: contrat.montantContrat > 300 ? '#71BC75' : '#550F00'
          }"
        >
          {{ contrat.montantContrat }}
        </td>
        <td>{{ contrat.descriptionContrat }}</td>
        <td>{{ contrat.etudiant.prenomE }}</td>

        <td *ngIf="userService.roleMatch(['Admin'])">
          <button
            class="btn btn-sm btn-danger"
            (click)="delete(contrat.idContrat)"
          >
             <img src="../../../assets/img/delete2.png" alt="" height="15" width="15">
          </button>
          &nbsp;
          <a
            class="btn btn-sm btn-warning"
            [routerLink]="['/contracts/updateContract', contrat.idContrat]"
          >
             <img src="../../../assets/img/update.png" alt="" height="20" width="20">
          </a>
          &nbsp;
          <a 
            class="btn btn-sm btn-info"
            [routerLink]="['/contracts/', contrat.idContrat]"
          >
             <img src="../../../assets/img/details.png" alt="" height="20" width="20">
          </a>
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>
  <div class="clearfix">
    <pagination-controls
      previousLabel="prev"
      nextLabel="next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>

<notifier-container></notifier-container>
    
  </div>